---
import BaseLayout from 'src/layouts/BaseLayout.astro'
import Footer from 'src/components/Footer.astro'

const title = '404: Not Found Page.'
---

<BaseLayout title={title} description={title}>
  <main class="flex-1 p-4 flex flex-col justify-center items-center">
    <h1 class="text-2xl font-bold">{title}</h1>
    <a id="back" href="/" class="mt-4 text-xl text-blue-500 underline hover:opacity-60">Go Back</a>
  </main>
  <Footer />
</BaseLayout>

<script>
  document.getElementById('back')!.addEventListener('click', () => window.history.back())
</script>
