<footer class="p-4 md:px-12 flex flex-col justify-center items-center bg-gray-800 text-white shadow-inner">
  <p>Copyright &copy; 2024 Piapot</p>
  <p>
    Power by <a href="https://astro.build/" target="_blank" class="text-blue-500 underline hover:opacity-60">Astro</a>
  </p>
</footer>
