<header
  class="sticky top-0 flex flex-row p-4 md:px-12 justify-between items-center bg-gray-100 bg-opacity-60 saturate-150 backdrop-blur shadow z-50"
>
  <h1 class="text-2xl font-bold select-none">
    <a href="/">✨ Piapot</a>
  </h1>
  <nav>
    <ul class="flex flex-row gap-4">
      <li><a href="/categories" class="_link">Categories</a></li>
      <li><a href="/rss.xml" class="_link">RSS</a></li>
    </ul>
  </nav>
</header>

<style lang="scss">
  ._link {
    @apply text-blue-500 underline decoration-solid hover:opacity-60;
  }
</style>
