---
import Footer from '@/components/Footer.astro'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="white" />
    <meta name="author" content="piapot" />
    <meta name="keywords" content="piapot" />
    <meta name="description" content="Author: piapot, Category: blog, piapot's personal blog." />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  :root {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: #0000;
  }
</style>

<style is:global>
  main {
    @apply px-5 py-4;
  }

  h1 {
    @apply my-4 text-4xl;
  }

  h2 {
    @apply my-3 text-3xl;
  }

  p {
    @apply my-2;
  }

  pre {
    @apply w-auto my-4 px-4 py-2 rounded overflow-auto;
  }

  hr {
    @apply my-4;
  }

  li {
    @apply my-2 ml-4 list-disc;
  }

  @media (min-width: 640px) {
    main {
      @apply px-10;
    }

    h1 {
      @apply mt-8 mb-4 text-4xl;
    }
  }

  @media (min-width: 768px) {
    main {
      @apply px-15;
    }
  }

  @media (min-width: 1024px) {
  }
</style>
